<div class="container is-fluid">
  <h2 class="title">Все тесты</h2>
  <div class="mt-5">
    <% @tests.each do |test| %>
      <div class="box mb-4 is-flex is-align-items-center">
        <div>
          <h2 class="title is-4"><%= test.name %></h2>
          <p><%= test.description %></p>
        </div>
        <div class="ml-auto">
          <%= link_to "Пройти", question_path(test.id), class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
