<h2 class="title">Все тесты</h2>
  <div class="mt-5">
    <% @tests.each do |test| %>
      <a href="<%= question_path(test.id) %>">
        <div class="box mb-4 is-flex is-align-items-center">
          <div>
            <h2 class="title is-4 mb-2"><%= test.name %></h2>
            <p class="truncate-text subtitle"><%= test.description %></p>
            <p class="truncate-text has-text-primary is-size-5">
              <% case test.types %>
                <% when "base" %>
                  Базовый тест
                <% when "generated" %>
                  Сгенерированный
                <% else %>
                  <%= test.types %>
              <% end %>
            </p>
          </div>
        </div>
      </a>
    <% end %>
  </div>