:root {
  --main-background-color: #e2e2e2;
  --main-background-color-accent: #d0d0d0;
  --accent-color: #4faad4;
}

.has-main-background {
  background-color: var(--main-background-color);
}

.has-main-background-accent {
  background-color: var(--main-background-color-accent);
}

.has-text-accent-color {
  color: var(--accent-color);
}

.has-main-color {
  background-color: var(--accent-color);
}