.notification {
  position: fixed;
  top: 20px; /* настройте отступ сверху по вашему усмотрению */
  right: 20px; /* настройте отступ справа по вашему усмотрению */
  z-index: 9999; /* установите z-index так, чтобы уведомления были поверх всех других элементов */
}
