@import "color";
@import "flash";
@import "overlay";

@import "header";

@import "footer";

body {
  overflow-y: hidden; /* Скрыть вертикальную полосу прокрутки */
  // height: 100vh;
}

.logo {
  display: inline-block !important;
  width: auto !important;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Указывает максимальное количество строк для отображения */
  max-width: 100%; /* Ширина контейнера, которая будет использоваться для отображения текста */
}

.has-background-grey-light {
  background-color: #d1d1d1 !important;
}

.main {
  margin-bottom: 80px;
  margin-top: 76px;
}

.image {
  display: block;
  margin: 0 auto; /* Чтобы изображение было по центру */
  max-width: 100%; /* Чтобы изображение не выходило за пределы контейнера */
  height: auto; /* Чтобы сохранить пропорции изображения */
}

.image.is-inline-block img {
  border-radius: 50%;
}

.is-256x256 {
  max-width: 256px;
  max-height: 256px;

  width: max-content;
  height: max-content;
}
