<footer class="navbar is-fixed-bottom has-background-light z-9999">
  <div class="navbar-menu is-flex is-justify-content-space-around has-background-grey-light">
    <a class="navbar-item" href="<%= root_path %>">
      <span class="icon"><i class="fas fa-home"></i></span>
      <span>Главное</span>
    </a>
    <a class="navbar-item" href="<%= questions_path %>">
      <span class="icon"><i class="fa-solid fa-magnet"></i></i></span>
      <span>Тестирование</span>
    </a>
    <a class="navbar-item" href="<%= profile_path %>">
      <span class="icon"><i class="fas fa-user"></i></span>
      <span>Профиль</span>
    </a>
  </div>
</footer>
