<footer class="navbar is-fixed-bottom has-background-light z-9999">
  <div class="navbar-menu is-flex is-justify-content-space-around has-background-grey-light">
    <a class="navbar-item is-flex is-flex-direction-column is-align-items-center" href="<%= root_path %>">
      <span class="icon"><i class="fas fa-home"></i></span>
      <span>Главное</span>
    </a>
    <a class="navbar-item is-flex is-flex-direction-column is-align-items-center" href="<%= questions_path %>">
      <span class="icon"><i class="fas fa-question"></i></span>
      <span>Тестирование</span>
    </a>
    <a class="navbar-item is-flex is-flex-direction-column is-align-items-center" href="<%= profile_path %>">
      <span class="icon"><i class="fas fa-user"></i></span>
      <span>Профиль</span>
    </a>
    <% if current_user && current_user.admin %>
      <a class="navbar-item is-flex is-flex-direction-column is-align-items-center" href="<%= rails_admin_path %>">
        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
        <span>Админка</span>
      </a>
    <% end %>
  </div>
</footer>