<header class="navbar is-fixed-top has-background-light z-9999">
  <div class="container is-fluid has-background-grey-light">
    <nav class="navbar is-" role="navigation" aria-label="main navigation">
      <div class="navbar-brand is-flex is-justify-content-space-bettween has-background-grey-light">
        <div class="column">
          <h1 class="navbar-item is-size-4 has-text-weight-bold accent-color">QazaqTili</h1>
        </div>
        <div class="column is-flex is-align-items-center">
          <div class="is-4 has-text-grey has-text-centered page-title"><%= @page_title || "Главное" %></div>
        </div>
        <div class="navbar-item">
          <button class="button is-info" onclick="history.back()">Назад</button>
        </div>
      </div>
    </nav>
  </div>
</header>