<header class="navbar is-fixed-top z-9998  header has-main-background">
  <div class="navbar is-flex is-flex-direction-row is-justify-content-space-bettween has-main-background">
      <div class="column is-flex is-flex-direction-row">
        <%# if present_page? %>
          <%# <button class="button" id="backButton"><i class="bi bi-arrow-left"></i></button> %>
        <%# end %>
      </div>
      <div class="column is-flex is-flex-direction-row is-justify-content-space-around">
        <h1 class="is-flex is-align-items-center is-size-4 has-text-accent-color has-text-weight-medium">Qazaq Tili</h1>
        <figure class="image is-flex is-align-items-center">
          <%= image_tag('/logo.mini.svg', alt: "Логотип", class: "image is-rounded", style: "width: 32px; height: 32px;")%>
        </figure>
      </div>
    </div>
</header>