<div class="column">
  <div class="box">
    <h2 class="has-text-weight-medium is-size-4 mb-4">Последние тесты</h2>
    <% if @results.length > 0 %>
      <ul class="menu-list">
        <% @tests.each_with_index do |test, index| %>
          <li class="is-size-5 mb-2"><span class="has-text-grey-light is-size-6"> <%= @results[index].created_at.strftime("%d.%m.%Y") %></span> <br>
            <%= link_to "#{index+1}. #{test.name}", answer_path(test_id: test.id, user_id: current_user.id), class: "has-text-accent-color" %></li>
        <% end %>
      <% else %>
        <p class="subtitle is-italic has-text-centered is-size-5 mb-4 has-text-grey">Нету пройденых тестов</p>
        <% if @tests.length > 0 %>
          <%= link_to "Пройти первый тест", question_path(@tests.first.id), class: "button is-flex is-justify-content-center" %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="box">
    <p class="subtitle has-text-centered is-size-5 mb-4 has-text-grey">
      В будущем тут будут новости
    </p>
  </div>
  <div class="box">
    <p class="subtitle has-text-centered is-size-5 mb-4 has-text-grey">
      В будущем тут будут обновления
    </p>
  </div>
  <div class="box">
    <p class="subtitle has-text-centered is-size-5 mb-4 has-text-grey">
      По мере обновления
    </p>
  </div>
  <div class="box">
    <p class="subtitle has-text-centered is-size-5 mb-4 has-text-grey">
      Скоро...
    </p>
  </div>
</div>