<div class="container is-fluid">
  <h1 class="title">Главное</h1>
  <% if current_user != nil %>
    <p class="subtitle"> Вы вошли как <%= current_user.email %></p>
  <% else %>
    <p class="subtitle"> Вы не вошли</p>
  <% end %>
</div>